/*------------------------------------------HEADER PARA TODAS LAS VISTAS--------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
    background-color: #fff;
    line-height: 1.5;
    margin: auto; 
}
header{
    padding: 0;
    height: 152px;
}
.header .linea1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-color: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.1cap;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    margin: 30px;
    height: 40px;
}
.header .iconos {
    /*background-color: aquamarine;*/
    cursor: pointer;
    margin: 20px 30px;
}
.header .iconos:hover{
    transform:none;
}
.header i{
    font-size: 24px;
    padding: 20px 5px;
    align-items: flex-end;
    color: #000;
}
.header i:hover{
    color: #5c7e9b;
}
.header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-color: #D9D9D9;
    border-bottom-style: solid;
    border-bottom-width: 0.2cap;
}
.header .navbar ul{
    list-style: none;
}
.header .navbar li{
    align-items:flex-end;
    display: inline-block;
    padding: 10px 50px;
}
.header .navbar li:hover{
    transform: scale(1.1);
}
.header .navbar a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.header .navbar li a:hover{
    color: #5c7e9b;
}

/*-------------------------ACÁ COMIENZA EL CARRITO--------------------*/
#carrito{
    .main-content{
    /*background-color: #5c7e9b;*/
    height: 650px;
    margin: 20px 0;
    padding: 20px 30px;
}
.caja{
    /*background-color: aliceblue;*/
    display: grid;
    grid-template-rows: 350px 240px;
    gap: 20px;
}
h1{
    /*background-color: antiquewhite;*/
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    margin-left: 20px;
}
p{
    font-size: 18px;
    font-weight: normal;
    margin-left: 60px;
    color: #000;
}
}

/*-------------------------ACÁ COMIENZA EL INICIO--------------------*/
#inicio{
.main-content{
    background-color: #fff;
    padding: 20px 60px;
    margin: 40px;
    height: 650px;
}
h1{
    font-size: 24px;
    font-weight: bolder;
}
.book-container{
    /*background-color: aquamarine;*/
    display: grid;
    align-content:center;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 515px;
    padding: 30px 10px;
    margin: 10px 25px;
}
.book{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 17px;
    border-width: 0.1cap;
    padding: 20px 25px;
}
.book img{
    height: 257px;
    width: 180px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-items: center;
}
.book h3{
    font-size: 16px;
    font-weight: normal;
}
.espacio{
    flex-grow: 1;
}
.book .precio{
    margin-bottom: 8px;
}
.book p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}
.book button{
    background-color: #D9D9D9;
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-items: center;
    align-items: flex-end;
}
.book button:hover{
    background-color: #bdbdbd;
}
}


/*-------------------------ACÁ COMIENZA LIBROS INDIVIDUALES--------------------*/
#libros-ind{
    .main-content{
    /*background-color: #5769db;*/
    padding: 20px 0;
    height: 1400px; /*650px;*/

}
.main-content h6{
    /*background-color: antiquewhite;*/

    font-size: 15px;
    font-weight: normal;
    margin-left: 80px;
}
.main-content a{
    text-decoration: none;
    color: #000;
}
.book-container{
    /*background-color: aquamarine;*/
    display: grid;
    align-content:center;
    justify-items: center;
    padding: 30px 10px;
    margin: 10px 25px;
}
.book{
    background-color: fff;
    display: grid;
    /*background-color: #fff;*/
    grid-template-columns: 300px 350px;
    grid-template-rows: 700px 300px;
    gap: 10px;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 17px;
    border-width: 0.1cap;
    padding: 20px 25px;
}
.book img{
    background-color: #5c7e9b;
    height: 400px;
    margin-bottom: 30px;
}
.book .info{
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 400px;
}
.book h3{
    font-size: 24px;
    font-weight: 1000;
    width: 320px;
}
.book .precio{
    font-size: 30px;
    font-weight: 700;
}
.book .cuotas{
    font-size: 10px;
    font-weight: normal;
    color: #000000;
}
.book .lista{
    font-size: 10px;
    font-weight: normal;
    width: 200px;
    color: #000000;
    margin: 20px 20px;
}
.info button{
    background-color: #D9D9D9;
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
}
.info button:hover{
    background-color: #bdbdbd;
}
.info .descripcion{
    
    color: #000;
    height: 400px;
    justify-content: flex-end;
    align-items: flex-end;
}
.descripcion h4{
    font-size: 20px;
}
.descripcion p{
    font-size: 16px;
}
}


/*-------------------------ACÁ COMIENZA LIBROS--------------------*/
#libros{
.main-content{
    /*background-color: #5769db;*/
    padding: 20px 0;
    height: 1400px; /*650px;*/
}
.main-content h6{
    /*background-color: antiquewhite;*/
    font-size: 15px;
    font-weight: normal;
    margin-left: 80px;
}
.main-content h6 a{
    text-decoration: none;
    color: #000;
}
.aside{
    padding: 10px;
    margin: 30px;
    align-content: center;
}
.aside h1{
    font-size: 20px;
    font-weight: bolder;
}
li{
    list-style: none;
}
li a{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
li a:hover{
    color: #5c7e9b;
}
.book-container{
    /*background-color: aquamarine;*/
    display: grid;
    align-content:center;
    justify-content: center;
    gap: 50px;
    grid-template-columns:  230px 230px 230px 230px;
    grid-template-rows: 515px;
    padding: 30px 10px;
    margin: 10px 25px;
}
/*.aside{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 100px;
    align-items: flex-start;
    justify-content: left;
    padding: 30px;
}*/
.book{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 17px;
    border-width: 0.1cap;
    padding: 20px 25px;
}
.book img{
    height: 257px;
    width: 180px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-items: center;

}
.book h3{
    font-size: 16px;
    font-weight: normal;
}
.espacio{
    flex-grow: 1;
}
.book .precio{
    margin-bottom: 8px;
}
.book p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}
.book button{
    background-color: #D9D9D9;
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-items: center;
    align-items: flex-end;
}
.book button:hover{
    background-color: #bdbdbd;
}
}


/*-------------------------ACÁ COMIENZA REVISTAS--------------------*/
#revistas{
    .main-content{
    /*background-color:#5c7e9b;*/
    padding: 20px 0;
    height: 650px; 
}

.main-content h6{
    /*background-color: antiquewhite;*/

    font-size: 15px;
    font-weight: normal;
    margin-left: 80px;
}

.main-content h6 a{
    text-decoration: none;
    color: #000;
}


.book-container{
    /*background-color: aquamarine;*/
    display: grid;
    align-content:center;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 230px 230px 300px;
    grid-template-rows: 515px;
    padding: 30px 10px;
    margin: 10px 25px;
}

.book{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 17px;
    border-width: 0.1cap;
    padding: 20px 25px;
}

.book img{
    height: 257px;
    width: 180px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-items: center;
}

.book h3{
    font-size: 16px;
    font-weight: normal;
}

.espacio{
    flex-grow: 1;
}

.book .precio{
    margin-bottom: 8px;
}
.book p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

.book button{
    background-color: #D9D9D9;
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-items: center;
    align-items: flex-end;
}

.book button:hover{
    background-color: #bdbdbd;
}
}

/*-------------------------ACÁ COMIENZA COMICS--------------------*/
#comics{
    .main-content{
    /*background-color:#5c7e9b;*/
    padding: 20px 0;
    height: 650px; 
}
.main-content h6{
    /*background-color: antiquewhite;*/

    font-size: 15px;
    font-weight: normal;
    margin-left: 80px;
}
.main-content h6 a{
    text-decoration: none;
    color: #000;
}
.book-container{
    /*background-color: aquamarine;*/
    display: grid;
    align-content:center;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 515px;
    padding: 30px 10px;
    margin: 10px 25px;
}
.book{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 17px;
    border-width: 0.1cap;
    padding: 20px 25px;
}
.book img{
    height: 257px;
    width: 180px;
    margin-bottom: 30px;
    cursor: pointer;
    justify-items: center;
}
.book h3{
    font-size: 16px;
    font-weight: normal;
}
.espacio{
    flex-grow: 1;
}
.book .precio{
    margin-bottom: 8px;
}
.book p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}
.button {
    background-color: aqua;}
.book button{
    background-color: #D9D9D9;
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-items: center;
    align-items: flex-end;
}
.book button:hover{
    background-color: #bdbdbd;
}
}





/*-------------------------------------------ACÁ COMIENZA EL FOOTER PARA TODAS LAS VISTAS---------------------------------------------------*/

footer{
    padding: 0;
    height: 275px;
    border-top-color: #D9D9D9;
    border-top-style: solid;
    border-top-width: 0.3cap;
}
.footer .logo{
    cursor: pointer;
    margin-right: auto;
}
.footer .logo img{
    margin: 20px 30px;
    height: 30px;
}

/* no le voy a poner las categorías internas de items varios*/

.footer .items-varios{
    /*background-color: #5c7e9b;*/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 30px;
}
.footer .items-varios h5{
    font-size: 14px;
    font-weight: bold;
}
.footer ul{
    list-style: none;
}
.footer ul a{
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
.footer ul a:hover{
    color: #5c7e9b;
}
.footer .nosotros a{
    text-decoration: none;
    color: #000;
}
.footer .nosotros a:hover{
    color: #5c7e9b;
}
.footer .contacto p{
    font-size: 12px;
    font-weight: normal;
}
.footer .redes a{
    cursor: pointer;
}
.footer .redes a img{
    height: 30px;
    padding: 5px;
}
.derechos{
    font-size: 12px;
    font-weight: normal;
    padding-top: 40px;
    margin-left: 60px;
}

/*-------------------------ACÁ COMIENZA NOSOTROS--------------------*/
#nosotros{
    .main-content{
    /*background-color: #5c7e9b;*/
    height: 650px;
    margin: 20px 0;
    padding: 20px 30px;
}

.caja{
    /*background-color: aliceblue;*/
    display: grid;
    grid-template-rows: 150px 240px;
    gap: 20px;
}

h1{
    /*background-color: antiquewhite;*/
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    margin-left: 20px;
}

p{
    font-size: 18px;
    font-weight: normal;
    margin-left: 60px;
    color: #000;
}

li{
    font-size: 18px;
    font-weight: normal;
    margin-left: 60px;
    color: #000;
}
}